.menuBackground{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #512DA8;
    color: #FFFFFF;
    border-bottom: black 2px solid;
    z-index: 10;
}



.menuBorder {
    max-width: 1200px;
    margin: auto
}

.menuContainer{
    display: flex;
    padding-bottom: 15px;
}

.menuButton {
    padding: 10px;
    border: #512DA8 1px solid;
    font-size: 20px;
    width: 80px;
    text-align: center;
    color: white;
    font-family: Cambria;
}

.menuButton .a:visited {
    color: white;
}

.menuButton:hover {
    color: white;
    background-color: #D1C4E9;
    opacity: 1;
}

.menuTitle{
    margin-top: 0;
    padding-top: 15px;
    margin-bottom: 10px;
    color: white;
}

.headerHr{
    stroke: black;
    border: 1px solid black
}